<!DOCTYPE html>
<html>
  <head>
    <title>Todo Lists</title>
    <header>
      <nav>
        <a href="{% url 'todo_list_list' %}">Main page</a>
      </nav>
    </header>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a new item</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
