<!DOCTYPE html>
<html>
  <head>
    <title>Todo Lists</title>
    <header>
      <nav>
        <a href="{% url 'todo_list_list' %}">Main page</a>
      </nav>
    </header>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
      </div>
      <table>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>
        {% for item in todo_list_detail.items.all %}
        <tr>
          <td>
            <a href="{% url 'todo_item_update' id=item.id %}">
              {{ item.task }}
            </a>
          </td>
          <td>{{ item.due_date|date:"M d, Y" }}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
